@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: JosefinSans;
	src: url('/fonts/JosefinSans-Regular.ttf') format('truetype'),
		url('/fonts/JosefinSans-Regular.woff2') format('woff2'),
		url('/fonts/JosefinSans-Regular.woff') format('woff');
}

@font-face {
	font-family: Barlow;
	src: url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
  }
  
  .app {
	position: relative;
	width: 100%;
	background-image: url('/vector.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  

body {
	background-color: #F5F5F5;
}

